[python: **.py]

[jinja2: **/templates/**.html]
encoding = utf-8

[jinja2: **/templates/**.jinja2]
encoding = utf-8

# Exclusions
ignore_patterns = 
    venv
    instance
    migrations
    tests
    __pycache__
    .pytest_cache
    .git
